form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #000000;
}

.unitImage {
  margin-left: 42px;
  margin-bottom: 21.6px;
  color: #000000;
  user-select: none;
}

.Submit {
  background-color: white;
  color: white;
  font-family: SIGNALIS;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 1rem;
}

input::placeholder {
  font-family: SIGNALIS;
}
