table {
  width: 100%;
  background-color: #171717;
  color: white;
  margin-bottom: 30px;
}

th {
  color: white;
  text-align: center;
  font-family: SIGNALIS;
}

td {
  color: white;
  text-align: center;
  font-family: SIGNALIS;
  min-width: 100px;
}

img {
  margin: 10px;
}

th.mat-sort-header-sorted {
  color: black;
}

.openDialog {
  border: #000000;
  background-color: #171717;
  color: white;
  font-family: SIGNALIS;
  font-size: 14px;
  cursor: pointer;
}
