/* You can add global styles to this file, and also import other style files */

body {
  margin: 0 !important;
  background-color: #000000;
  color: white;
  font-family: SIGNALIS;
}

@font-face {
  font-family: SIGNALIS;
  src: url(./assets/Perfect\ DOS\ VGA\ 437.ttf);
}

.mdc-button__label {
  color: white;
  background-color: #000000;
}

.mat-mdc-button-touch-target {
  background-color: #000000;
}

.mat-mdc-dialog-surface .mdc-dialog__surface {
  background-color: #000000;
}

form {
  padding-top: 1rem;
}
