/* You can add global styles to this file, and also import other style files */

body {
  margin: 0 !important;
  background-color: #000000;
}

@font-face {
  font-family: SIGNALIS;
  src: url(./assets/Perfect\ DOS\ VGA\ 437.ttf);
}
