<div>
  <div>
    <img class="welcome" src="./assets/1.png" />
  </div>

  <div class="container2">
    <a href="https://signalis.fandom.com/wiki/SIGNALIS_Wiki"
      ><span>WIKI</span></a
    >
    <a [href]="'characters'"><span>CHARACTERS</span></a>
    <div>
      <button class="button" (click)="ref.play()"><span>MUSIC</span></button>
      <audio
        #ref
        src="../../assets/Remember_our_Promise.mp3"
        [volume]="0.3"
      ></audio>
    </div>
    <button class="tutorial" href="#"><span>TUTORIAL</span></button>
    <a class="social_media" href="https://twitter.com/LastStarfarer"
      ><span>SOCIAL MEDIA</span></a
    >
  </div>

  <div class="container1">
    <img class="flex2" src="./assets/15.png" />
    <img class="flex2" src="./assets/16.gif" />
  </div>

  <div class="container">
    <div class="box1">
      <h3>SIGNALIS</h3>
      <p>
        A classic survival horror experience set in a dystopian future where
        humanity has uncovered a dark secret. Unravel a cosmic mystery, escape
        terrifying creatures, and scavenge an off-world government facility as
        Elster, a technician Replika searching for her lost dreams.
        <br /><br /><br /><br />
      </p>
      <div>
        <iframe
          class="video"
          src="https://www.youtube.com/embed/4KFiOp2o4L8?si=HP6AD79K3-hmQzCU"
          title="trailer"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
      <p>
        <br /><br /><br /><br />
        <img class="welcome" src="./assets/3.png" />
        <br /><br />
        Searching for dreams inside of a nightmare Awaken from slumber and
        explore a surreal retrotech world as Elster, a technician Replika
        searching for her lost partner and her lost dreams. Discover terrifying
        secrets, challenging puzzles, and nightmarish creatures in a tense and
        melancholic experience of cosmic dread and classic psychological
        survival horror.
        <br /><br />
        <img class="welcome" src="./assets/4.gif" />
        <img class="welcome" src="./assets/5.png" />
        <img class="welcome" src="./assets/6.gif" />
        <br /><br />
        SIGNALIS is set in a dystopian future where humanity has colonized the
        solar system, and the totalitarian regime of Eusan maintains an iron
        grip through aggressive surveillance and propaganda. Humanoid androids
        known as Replikas live among the populace, acting as workers, civil
        servants, and Protektors alongside the citizens they are designed to
        resemble. The story of SIGNALIS begins as a Replika named Elster awakens
        from cryostasis in a wrecked vessel. Now stranded on a cold planet, she
        sets out on a journey into depths unknown.
        <br /><br />
        <img class="welcome" src="./assets/7.gif" />
        <img class="welcome" src="./assets/8.gif" />
        <br /><br /><br />
      </p>
      <div class="doted-spacer"></div>
    </div>

    <div class="box2">
      <p>
        <br /><br />
        Experience fear and apprehension as you encounter strange horrors,
        carefully manage scarce resources, and seek solutions to challenging
        riddles.
        <br /><br />
        <img class="welcome" src="./assets/9.gif" />
        <img class="welcome" src="./assets/10.gif" />
        <br /><br />
        Explore the dim corners of a derelict spaceship, delve into the
        mysterious fate of the inhabitants of a doomed facility, and seek what
        lies beneath.
        <br /><br />
        <img class="welcome" src="./assets/11.gif" />
        <img class="welcome" src="./assets/12.gif" />
        <br /><br />
        Discover an atmospheric science-fiction tale of identity, memory, and
        the terror of the unknown and unknowable, inspired by classic cosmic
        horror and the works of Stanley Kubrick, Hideaki Anno, and David Lynch.
        <br /><br />
        <img class="welcome" src="./assets/13.gif" />
        <img class="welcome" src="./assets/14.gif" />
        <br /><br />
        Wander a brutalist nightmare driven by fluid 3D character animations,
        dynamic lights and shadows, and complex transparency effects,
        complemented by cinematic sci-fi anime storytelling.
        <br /><br />
        MATURE CONTENT DESCRIPTION
        <br /><br />
        -----------------------------------------------------------------------
        <br /><br />
        The developers describe the content like this: This Game may contain
        content not appropriate for all ages, or may not be appropriate for
        viewing at work: Frequent Violence or Gore, General Mature Content.
        <br /><br />
        -----------------------------------------------------------------------
        <br /><br />
        SYSTEM REQUIREMENTS:
        <br /><br />
        MINIMUM: Requires a 64-bit processor and operating system OS: Windows 10
        Processor: Intel Core i5-2300 or AMD FX-4350 Memory: 4 GB RAM Graphics:
        NVIDIA GeForce GTS 450 (1GB) or AMD Radeon HD 6570 (1GB) DirectX:
        Version 11 Storage: 2 GB available space Additional Notes: 16:9 monitor
        recommended
        <br /><br />
        RECOMMENDED: Requires a 64-bit processor and operating system OS:
        Windows 10 Processor: Intel Core i5-3470 or AMD FX-6300 Memory: 4 GB RAM
        Graphics: NVIDIA GeForce GTX 760 (2GB) or AMD Radeon HD 7870 (2GB)
        DirectX: Version 11 Storage: 2 GB available space Sound Card: Headphones
        recommended Additional Notes: 16:9 monitor recommended
        <br /><br />
        SIGNALIS © 2023 rose-engine. All rights reserved. Humble Bundle, the
        Humble Bundle logo, and the Humble Games logo are among the trademarks
        and/or registered trademarks of Humble Bundle, Inc. throughout the
        world. All rights reserved.
        <br /><br />
      </p>
    </div>
  </div>
  <img class="end" src="./assets/2.png" />
  <br /><br />
</div>
