<div>
  <div>
    <div>
      <img class="images" src="./assets/1.png" />
    </div>

    <div class="container2">
      <div class="dropdown">
        <button class="social_media"><span>SOCIAL MEDIA</span></button>
        <div class="dropdown-options">
          <a class="LastStarfarer" href="https://twitter.com/LastStarfarer">
            <span>LastStarfarer</span>
          </a>
          <a class="antihelios_" href="https://twitter.com/antihelios_">
            <span>antihelios_</span>
          </a>
        </div>
      </div>
      <a [routerLink]="['/gallery']"><span>GALLERY</span></a>
      <a [routerLink]="['/characters']"><span>CHARACTERS</span></a>
      <div>
        <button class="music" onclick="document.getElementById('audio').play()">
          <span>MUSIC</span>
        </button>
        <audio
          id="audio"
          src="../../assets/Remember_our_Promise.mp3"
          volume="0.3"
        ></audio>
      </div>
      <a class="tutorial" href="#" onclick="event.preventDefault();"
        ><span>TUTORIAL</span></a
      >
    </div>

    <div class="container1 flex-row-wrap">
      <img class="flex2" src="./assets/15.png" />
    </div>

    <div class="container flex-row-wrap">
      <div class="main-column">
        <h3>SIGNALIS</h3>
        <p>
          A classic survival horror experience set in a dystopian future where
          humanity has uncovered a dark secret. Unravel a cosmic mystery, escape
          terrifying creatures, and scavenge an off-world government facility as
          Elster, a technician Replika searching for her lost dreams.
          <br /><br /><br /><br />
        </p>
        <div>
          <iframe
            class="video"
            src="https://www.youtube.com/embed/4KFiOp2o4L8?si=HP6AD79K3-hmQzCU"
            title="trailer"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
        <p>
          <br /><br /><br /><br />
          <img class="images" src="./assets/3.png" />
          <br /><br />
          Searching for dreams inside of a nightmare Awaken from slumber and
          explore a surreal retrotech world as Elster, a technician Replika
          searching for her lost partner and her lost dreams. Discover
          terrifying secrets, challenging puzzles, and nightmarish creatures in
          a tense and melancholic experience of cosmic dread and classic
          psychological survival horror.
          <br /><br />
          <img class="images" src="./assets/4.gif" />
          <img class="images" src="./assets/5.png" />
          <img class="images" src="./assets/6.gif" />
          <br /><br />
          SIGNALIS is set in a dystopian future where humanity has colonized the
          solar system, and the totalitarian regime of Eusan maintains an iron
          grip through aggressive surveillance and propaganda. Humanoid androids
          known as Replikas live among the populace, acting as workers, civil
          servants, and Protektors alongside the citizens they are designed to
          resemble. The story of SIGNALIS begins as a Replika named Elster
          awakens from cryostasis in a wrecked vessel. Now stranded on a cold
          planet, she sets out on a journey into depths unknown.
          <br /><br />
          <img class="images" src="./assets/7.gif" />
          <img class="images" src="./assets/8.gif" />
          <br /><br /><br />
          Experience fear and apprehension as you encounter strange horrors,
          carefully manage scarce resources, and seek solutions to challenging
          riddles.
        </p>
      </div>

      <div class="main-column">
        <p>
          <br /><br />
          <img class="images" src="./assets/9.gif" />
          <img class="images" src="./assets/10.gif" />
          <br /><br />
          Explore the dim corners of a derelict spaceship, delve into the
          mysterious fate of the inhabitants of a doomed facility, and seek what
          lies beneath.
          <br /><br />
          <img class="images" src="./assets/11.gif" />
          <img class="images" src="./assets/12.gif" />
          <br /><br />
          Discover an atmospheric science-fiction tale of identity, memory, and
          the terror of the unknown and unknowable, inspired by classic cosmic
          horror and the works of Stanley Kubrick, Hideaki Anno, and David
          Lynch.
          <br /><br />
          <img class="images" src="./assets/13.gif" />
          <img class="images" src="./assets/14.gif" />
          <br /><br />
          Wander a brutalist nightmare driven by fluid 3D character animations,
          dynamic lights and shadows, and complex transparency effects,
          complemented by cinematic sci-fi anime storytelling.
          <br /><br />
        </p>

        <p>MATURE CONTENT DESCRIPTION<br /></p>
        <ul>
          <li>Frequent Violence or Gore</li>
          <li>General Mature Content</li>
        </ul>
        <br />
        <div class="dashed-spacer"></div>
        <br />
        <p>
          SYSTEM REQUIREMENTS:<br /><br />
          MINIMUM:<br />
        </p>
        <ul>
          <li>OS: Windows 10</li>
          <li>Processor: Intel Core i5-2300 or AMD FX-4350</li>
          <li>Memory: 4 GB RAM</li>
          <li>
            Graphics: NVIDIA GeForce GTS 450 (1GB) or AMD Radeon HD 6570 (1GB)
          </li>
          <li>DirectX: Version 11</li>
          <li>Storage: 2 GB available space</li>
          <li>Additional Notes: 16:9 monitor recommended</li>
        </ul>
        <br />

        RECOMMENDED:<br />
        <ul>
          <li>OS: Windows 10</li>
          <li>Processor: Intel Core i5-3470 or AMD FX-6300</li>
          <li>Memory: 4 GB RAM</li>
          <li>
            Graphics: NVIDIA GeForce GTX 760 (2GB) or AMD Radeon HD 7870 (2GB)
          </li>
          <li>DirectX: Version 11</li>
          <li>Storage: 2 GB available space</li>
          <li>Sound Card: Headphones recommended</li>
          <li>Additional Notes: 16:9 monitor recommended</li>
        </ul>
        <br />

        SIGNALIS 2022 rose-engine. SIGNALIS 2022 (ORIGINAL SOUNDTRACK) 1000 Eyes
        & Cicada Sirens. All rights reserved. Humble Bundle, the Humble Bundle
        logo, and the Humble Games logo are among the trademarks and/or
        registered trademarks of Humble Bundle, Inc. throughout the world. All
        rights reserved.
        <p></p>
      </div>
    </div>
    <br /><br />
    <p class="buy">BUY NOW ON STEAM (GAME), AND BANDCAMP (SOUNDTRACK)</p>
    <div class="logo">
      <a href="https://store.steampowered.com/app/1262350/SIGNALIS/"
        ><img class="img-logo" src="../../assets/logo/0 (2).png"
      /></a>
      <a
        href="https://signalis-ost.bandcamp.com/album/signalis-original-soundtrack"
        ><img class="img-logo" src="../../assets/logo/0 (1).png"
      /></a>
    </div>
    <img class="images" src="./assets/2.png" />
  </div>
</div>
